<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
    <h2><%= current_user.username %> パスワード変更</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field form-group">
      <%= f.label :password %> <i>(もし変更したくないのなら空白のままにしてください)</i><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= f.label :current_password %> <i>(認証のために現在のパスワードを入力してください)</i><br />
      <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="col-md-1 col-xs-2">
      <%= f.submit "Update", class: "btn btn-primary" %>
    </div>
    <div class="col-md-1 col-xs-2">
      <%= link_to "Back", :back, class: "btn btn-danger" %>
    </div>

    <% end %>
    </div>
  </div>
</div>
