<div class="registrations-new-wrapper">
  <div class="signup-main-wrapper">
    <div class="title col-md-5"><h1>Welcome to GoodsManagement!!</h1></div>
    <div class="signup-sub-wrapper devise-wrapper col-md-7">
      <div class="signup-menu-wrapper">
        <%# <a class="tab_item_link col-md-6" href="/users/sign_in">Sign in</a>と同義 %>
        <%= link_to "Sign in", new_user_session_path, class: "tab_item_link col-md-6" %>
        <p class="tab_item_current col-md-6">Sign up</p>

        <div class="tab_content ">
          <h2>Sign Up</h2>
          <%= devise_error_messages! %>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

          <div class="field">
            <%= f.text_field :username, autocomplete: "off", placeholder: "User Name" %>
          </div>

          <div class="field">
            <%= f.password_field :password, autocomplete: "off" ,placeholder: "Password"%>
          </div>

          <div class="field">
            <%= f.password_field :password_confirmation, autocomplete: "off",  placeholder: "Password Confirmation"%>
          </div>
          <button class="btn btn-lg col-md-8 col-md-offset-2" type="submit">Sign Up</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
