<div class="admin-edit-container container">
  <div class="row">

    <h1>管理者を追加</h1>
    <%= form_tag('/admin', method: :patch) do %>
    <table class="table table-striped">
      <thead class="admin-thead">
        <tr>
          <th scope="col">#</th>
          <th scope="col">ユーザー名</th>
          <th scope="col" class="admin-check">追加</th>
        </tr>
      </thead>


      <tbody>
        <% @users.each_with_index do |user, i| %>
        <tr>
          <th scope="row"><%= i+1 %></th>
          <td><%= user.username %></td>
          <td class="form-check admin-check">
            <%= check_box "admin", "#{user.id}", class:"form-check-input" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <%= submit_tag("Submit", class: "btn btn-primary") %>
    <% end %>


  </div>
</div>
