
<div class="container">
  <h1 class="title">Update User Password</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for @user, url: user_password_path, method: :patch  do |f| %>
        <% #入力内容に何かしらのエラーがあった場合はここで表示する %>
        <%= f.label :owner, "Owner" %>
        <%= f.text_field :owner, class: 'form-control' %>

        <%= f.label :vendor, "Vendor" %>
        <%= f.text_field :vendor, class: 'form-control' %>

        <%= f.label :current_password, "Current Password" %>
        <%= f.password_field :current_password, class: 'form-control' %>

        <%= f.label :password, "New Password", class: "new-password-label" %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, "New Password Confirmation" %>
        <%= f.password_field :password_cinfirmation, class: 'form-control' %>

        <%= f.submit "Update Your Password", class: "btn btn-primary col-md-offset-4 submit-btn" %>
      <% end %>
    </div>
  </div>
</div>
