
<h1><%= current_user.username %>の借りてるやつ</h1>


<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Serial Number</th>
      <th scope="col">DeadLine</th>
      <th scope="col">Return</th>
      <th scope="col">Renew</th>
    </tr>
  </thead>
  <tbody>

    <% @lendings.select{|lending| lending.item.present? }.each_with_index do |lending,i| %>

    <tr class="<%= add_hurry_class(lending) %> font">
      <th scope="row"><%= i+1 %></th>
      <td><%=%></td>
      <td><%=lending.item_id%></td>
      <td><%=lending.dead_line%></td>
      <td>
        <!-- <%= link_to("Return","/home/back",{method: :post, id: lending.item.serial_number, :class =>"font btn btn-success"}) %> -->
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#staticModal" data-whatever="<%= lending.item.name %>" data-itemid="<%= lending.item.id %>">貸出</button>

      </td>
      <td>
        <%= link_to("Renew","/home/renew",{method: :post, id: lending.item.serial_number, :class =>"font btn btn-primary"}) %>
      </td>
    </tr>


  <% end %>

  </tbody>

</table>

<!-- モーダルダイアログ -->
  <div class="modal" id="staticModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true" data-show="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&#215;</span><span class="sr-only">閉じる</span>
          </button>
          <h4 class="modal-title">貸出</h4>
        </div><!-- /modal-header -->
        <div class="modal-body">
            <h4 class="modal-name">Name</h4>
            <div class="controls">
              <% @lending = Lending.new unless @lending %>
              <%= form_for(@lending) do |f| %>
                <%= f.hidden_field :user_id, :value => current_user.id %>
                <%= f.hidden_field :item_id %>
                <%= f.text_field :dead_line, :class => 'form-control datetimepicker', placeholder: 'Deadline' %>

            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
          <!-- <button type="button" class="btn btn-primary">変更を保存</button> -->
          <%= f.submit "変更を保存", class: "btn btn-primary" %>
        </div>
          <% end %>
      </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
  </div> <!-- /.modal -->

  <script>
  $(function() {
     'use strict';
    // JavaScript で表示


    // ダイアログ表示前にJavaScriptで操作する
    $('#staticModal').on('show.bs.modal', function(event) {
      var button = $(event.relatedTarget);
      var recipient = button.data('whatever');
      var item_id = button.data('itemid');
      var modal = $(this);
      modal.find('.modal-name').text(recipient);
      modal.find('#lending_item_id').val(item_id);
      //modal.find('.modal-body input').val(recipient);
    });


    $('.datetimepicker').datetimepicker({
      format: 'YYYY-MM-DD',
      minDate: moment()
    });

  });
  </script>
