<h1><%= current_user.username %>の借りてるやつ</h1>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Serial Number</th>
      <th scope="col">DeadLine</th>
      <th scope="col">Return</th>
      <th scope="col">Renew</th>
    </tr>
  </thead>

  <tbody>
    <% @lendings.select{ |lending| lending.item.present? }.each_with_index do |lending,i| %>
      <tr class="<%= add_hurry_class(lending) %> font">
        <th scope="row"><%= i+1 %></th>
        <td><%=lending.item.name%></td>
        <td><%=lending.item.serial_number%></td>
        <td><%=lending.dead_line%></td>
        <td>
          <%= link_to "Return", home_back_path, method: :post, id: lending.item.serial_number, class: "font btn btn-success" %>

        </td>
        <td>
          <!-- <%= link_to("Renew","/home/renew",{method: :post, id: lending.item.serial_number, :class =>"font btn btn-primary"}) %> -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#lending-modal" data-item-name="<%= lending.item.name %>" data-item-id="<%= lending.item.id %>" data-judgemodal="renew">延長</button>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>


<% # modal %>
<%= render "layouts/lending_modal" %>
